* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background: #00BCD4;
  color: #fff;
}

.content {
  flex: 1 0 auto;
  padding: 30px 0;
}

.footer {
  background: #00BCD4;
  font: 16px/1.2em Roboto;
  color: #fff;
  display: block;
  padding: 30px 0;
  flex: 0 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
  line-height: 1.2em;
}

h1 {
  font-size: 60px;
}

.project {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  font: 15px/22.5px Roboto;
}

.project__info {
  padding: 20px;
  display: block;
}

.project__img {
  position: relative;
  display: block;
}

.project__img img {
  max-width: 100%;
  display: block;
}

.project__hover-info {
  position: absolute;
  height: 69px;
  bottom: 0;
  left: 0px;
  padding: 20px;
  width: 100%;
  color: #fff;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.project:hover .project__hover-info {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.project__hide {
  display: none;
}

.project:hover .project__hide {
  display: block;
}

.project__title {
  font: 24px Roboto;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  color: #fff;
}

.project:hover .project__title {
  position: relative;
  padding: 0;
  margin-bottom: 10px;
}

.project__description {
  margin-bottom: 8px;
}

.project__full-description {
  margin-bottom: 8px;
}

.project__date {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.project__size {
  font-size: 12px;
  float: right;
}

.project__author {
  font-size: 12px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
