* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Roboto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: #00BCD4;
    color: #fff;
}

.content {
    flex: 1 0 auto;
    padding: 30px 0;
}

.footer {
    background: #252525;
    font: 14px/1.2em Roboto;
    color: #fff;
    display: block;
    padding: 30px 0;
    flex: 0 0 auto;
}

.footer a {
    color: #ccc;
}

.footer .title {
    margin-bottom: 10px;
    color: #777;
    text-transform: uppercase;
}

.footer ul li {
    margin-bottom: 5px;
}

.logo {
    padding: 30px 0;
    display: block;
    float: left;

}
.logo img{ height: 40px;}

.nav-top ul {
    display: block;
    float: right;
    color: #fff;
    font: 500 16px/40px Roboto;
    text-transform: uppercase;
    margin: 30px -20px;
}

.nav-top ul li {
    display: inline-block;
    margin: 0 20px;
}

.nav-top ul li a {
    text-decoration: none;
    color: #fff;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.nav-top ul li a:hover{
    color: #FF5617
}

.title-description {
    margin: -20px 0 10px 10px;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto;
    line-height: 1.2em;
    margin-bottom: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.no_cursor {
    cursor: none;
}

.project {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    font: 15px/22.5px Roboto;
}

.project__info {
    padding: 20px;
    display: block;
}

.project__img {
    position: relative;
    display: block;
}

.project__img img {
    max-width: 100%;
    display: block;
}

.project__hover-info {
    position: absolute;
    height: 69px;
    bottom: 0;
    left: 0px;
    padding: 20px;
    width: 100%;
    color: #fff;
    -webkit-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.project:hover .project__hover-info {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.project__hide {
    display: none;
}

.project:hover .project__hide {
    display: block;
}

.project__title {
    font: 24px Roboto;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: #fff;
}

.project:hover .project__title {
    position: relative;
    padding: 0;
    margin-bottom: 10px;
}

.project__description {
    margin-bottom: 8px;
}

.project__full-description {
    margin-bottom: 8px;
}

.project__date {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.project__size {
    font-size: 12px;
    float: right;
}

.project__author {
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.game__container {
    margin: auto;
}

canvas {
    margin: auto;
    display: block;
}

#fullscreen {
    margin: auto;
    display: block;
}

.game__title {
    text-align: center;
    margin-bottom: 20px;
    font: 32px Roboto;
}

.game__description {
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font: 20px Roboto;
    line-height: 30px;
    width: 50%;
}
