doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title KateJam Service
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/bootstrap-grid.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    .wrapper
      .header
        .container
          h1 KateJam Server

      block content

      footer.footer
        .container
          .row
            .col-md-4
              | © 2016
            .col-md-4
              h3 Insality
               ul
                li
                  a(href='#!') Insality links
                li
                  a(href='#!') Insality links
                li
                  a(href='#!') Insality links
            .col-md-4
              h3 Pepsikat
              ul
                li
                  a(href='#!') Pepsikat links
                li
                  a(href='#!') Pepsikat links
                li
                  a(href='#!') Pepsikat links
