doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Insality KateJam
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext')
    link(rel='stylesheet', href='/css/reset.css')
    link(rel='stylesheet', href='/css/bootstrap-grid.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    .wrapper
      .header
        .container
          a.logo(href='/')
            img(src='/img/logo.png')
          nav.nav-top
            ul
              li
                a(href='/') Projects  
              li
                a(href='#') Blog  
              li
                a(href='#') Log In  
          
          //- .ducks
          //-   script(type='text/javascript', src='/Ducks/dmloader.js')
          //-   script(type='text/javascript', src='/Ducks/ShootingDucks.js')
          //-   canvas#canvas.canvas-app-canvas(tabindex='0', width='600', height='100').no_cursor
          //-   script(type='text/javascript').
          //-     var extra_params = {
          //-       archive_location_filter: function( path ) {
          //-         return ("/Ducks/archive" + path + "");
          //-       },
          //-       splash_image: "/Ducks/splash_image.png",
          //-       custom_heap_size: 268435456
          //-     }
          //-     Module.runApp("canvas", extra_params);

          .title-description 
            | Our place to host our mini projects

      block content

      footer.footer
        .container
          .row
            .col-md-4
              | Insality © 2016
            .col-md-4
              p.title Insality
              ul
                li
                  a(href='https://insality.itch.io/' target="_blank") Itch.io
                li
                  a(href='https://soundcloud.com/insality/' target="_blank") SoundCloud
                li
                  a(href='https://github.com/Insality' target="_blank") GitHub
            .col-md-4
              p.title Pepsikat
              ul
                li
                  a(href='https://github.com/pepsikat' target="_blank") GitHub                
    
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter38166010 = new Ya.Metrika({
      id:38166010,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/38166010', style='position:absolute; left:-9999px;', alt='')