extends ../../views/base.jade

block content
	main.content
		script(src='/PixiTest/src/init.js')
		.container
			.game__container
				.game__title PixiTest
				#game
				.game__description
					| AWW! mobile version works bad! why?
					br 
					| -_-


